<!DOCTYPE html>
<html>
<head>
    <title>Mapa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <h1>Mapa</h1>
    <div id="map" style="width: 800px; height: 600px;"></div>
    <script>
        var map = L.map('map').setView([-22.863878, -43.244098], 10);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'YOUR_MAPBOX_ACCESS_TOKEN'
        }).addTo(map);

        var map_html_file = "{{ map_html_file }}";
        var iframe = document.createElement('iframe');
        iframe.setAttribute('style', 'width: 100%; height: 100%; border: none');
        iframe.setAttribute('src', map_html_file);
        document.getElementById('map').appendChild(iframe);
    </script>
</body>
</html>